<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playing against another opponent!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../libs/chessboardjs-0.3.0/css/chessboard-0.3.0.min.css">
    <link rel="stylesheet" href="../styles/local.css">
</head>

<body>
        <div class="row">
                <div class="col-md-12 text-center">
                    <h1>You are playing against another player</h1>
                </div>
            </div>
        
            <div class="row text-center">
                <div class="col-md-12">
                    <a href="/">Home</a>
                </div>
            </div>
    <div class="roomInfo text-center">
            <div>Your room id is : </div>
            <div id="roomId"></div>
            <div id="roomCount"></div>
            <div id="type"></div>
            <div id="time"></div>
    </div>


    <div class="row">
            <div class="col-sm-12 col-lg-8">
                <div id="board"></div>
            </div>
            <div class="col-sm-4 col-lg-2 move-history">
                <h2>Move History</h2>
                <div id="move-history">
                </div>
            </div>
        </div>
</body>

<script type='text/javascript'>
    var roomId = <%- JSON.stringify(roomId) %>;
</script>
<script src="../libs/jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../libs/chess.js-master/chess.min.js"></script>
<script src="../libs/chessboardjs-0.3.0/js/chessboard-0.3.0.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/playingAgainstOther.js"></script>

</html>