<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playing against AI!</title>
    <link rel="stylesheet" href="../libs/chessboardjs-0.3.0/css/chessboard-0.3.0.min.css">

    <link rel="stylesheet" href="../styles/ai.css">
</head>

<body>

    <h1>You are playing against a pretty stupid AI</h1>
    <a href="/">home</a>

    <div id="board"></div>
    <div id="move-history" class="move-history">
    </div>

    <div id="time"></div>
</body>

<script src="../libs/jquery-3.2.1/jquery-3.2.1.min.js"></script>
<script src="../libs/chess.js-master/chess.min.js"></script>
<script src="../libs/chessboardjs-0.3.0/js/chessboard-0.3.0.js"></script>
<script src="../js/playingAgainstAI.js"></script>

</html>