#board {
    width: 100%;
    float: right;
}

.roomInfo {
    font-size: 20px;
}

.move-history {
    border: 1px solid grey;
}

@media screen and (max-width: 480px) {
    #board {
        width: 400px;
        float: right;
    }
}